:root {

}



/*pagina principal*/
.body {
    margin: 0;
    padding: 0;
}
.fondo {
    background: url("../img/reik3.jpg");
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}

p {
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

h4 {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    padding-top: 12px;
}

.container{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}
header{
    background-size: cover;
}
.cabezal {
    background-color: #000000;

}
.cabezal .row{
    display: flex;
    padding-top: 35px;

}
header .superior{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 0 80px;
}
nav ul li a{
    color: white;
    text-decoration: none;

}
.carousel{
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 160px;
}
.text-box {
vertical-align: top;
}